body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

fieldset {
    margin: 10px;
}

label {
    white-space: nowrap;
}

table {
    margin: 20px;
}

td {
    text-align: center;
    margin: 2px;
}

p, a, h1, h3 {
    text-align: center;
}

.vowel, .consonant {
    margin: 5px;
}