body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

fieldset {
    margin: 5px;
}

label {
    white-space: nowrap;
}

table {
    margin: 10px;
}

.vowel, .consonant {
    margin: 2px;
}