body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

h1, div {
    margin-left: 20px;
    margin-right: 20px;
}

fieldset {
    margin: 20px;
}

label {
    white-space: nowrap;
}

table {
    width: 100%;
    margin: 20px;
    border: 1px solid darkblue;
}

caption {
    margin: 5px;
}

td, th {
    text-align: center;
    margin: 2px;
    border: 1px solid darkblue;
}

p, a, h1, h3, div {
    text-align: center;
}

.vowel, .consonant {
    margin: 5px;
}