<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>CS701 Final Project - Slechta</title>

        <script src="./js/angular182.js"></script>
        <script src="finalController.js"></script>
        <link rel="stylesheet" href="./css/final.css">
    </head>

    <body ng-controller="FinalController">
        <h1>ConLang Dictionary Manager</h1>
        <div>
            <h3>Word Generator</h3>
            <a href="#wordList">Skip to Word List</a>
            <fieldset>
                <p>Onset consonants come before the vowel of a syllable and coda consonants come after the vowel of a syllable</p>
                <label>
                    Maximum number of syllables?
                    <input ng-model="generator.syllableCount">
                </label>
                <label>
                    Maximum number of onset consonants?
                    <input ng-model="generator.onsetConsCount">
                </label>
                <label>
                    Maximum number of coda consonants?
                    <input ng-model="generator.codaConsCount">
                </label>
            </fieldset>
            <fieldset>
                <legend>Choose your language's vowels:</legend>
                <label>
                    a
                    <input type="checkbox" id="a" class="vowel" checked>
                </label>
                <label>
                    e
                    <input type="checkbox" id="e" class="vowel" checked>
                </label>
                <label>
                    i
                    <input type="checkbox" id="i" class="vowel" checked>
                </label>
                <label>
                    o
                    <input type="checkbox" id="o" class="vowel" checked>
                </label>
                <label>
                    u
                    <input type="checkbox" id="u" class="vowel" checked>
                </label>
                <label>
                    w
                    <input type="checkbox" id="w" class="vowel" checked>
                </label>
                <label>
                    y
                    <input type="checkbox" id="y" class="vowel" checked>
                </label>
            </fieldset>
            <fieldset>
                <legend>Choose your language's consonants:</legend>
                <label>
                    b
                    <input type="checkbox" id="b" class="consonant" checked>
                </label>
                <label>
                    c
                    <input type="checkbox" id="c" class="consonant" checked>
                </label>
                <label>
                    d
                    <input type="checkbox" id="d" class="consonant" checked>
                </label>
                <label>
                    f
                    <input type="checkbox" id="f" class="consonant" checked>
                </label>
                <label>
                    g
                    <input type="checkbox" id="g" class="consonant" checked>
                </label>
                <label>
                    h
                    <input type="checkbox" id="h" class="consonant" checked>
                </label>
                <label>
                    j
                    <input type="checkbox" id="j" class="consonant" checked>
                </label>
                <label>
                    k
                    <input type="checkbox" id="k" class="consonant" checked>
                </label>
                <label>
                    l
                    <input type="checkbox" id="l" class="consonant" checked>
                </label>
                <label>
                    m
                    <input type="checkbox" id="m" class="consonant" checked>
                </label>
                <label>
                    n
                    <input type="checkbox" id="n" class="consonant" checked>
                </label>
                <label>
                    p
                    <input type="checkbox" id="p" class="consonant" checked>
                </label>
                <label>
                    q
                    <input type="checkbox" id="q" class="consonant" checked>
                </label>
                <label>
                    r
                    <input type="checkbox" id="r" class="consonant" checked>
                </label>
                <label>
                    s
                    <input type="checkbox" id="s" class="consonant" checked>
                </label>
                <label>
                    t
                    <input type="checkbox" id="t" class="consonant" checked>
                </label>
                <label>
                    v
                    <input type="checkbox" id="v" class="consonant" checked>
                </label>
                <label>
                    w
                    <input type="checkbox" id="w" class="consonant" checked>
                </label>
                <label>
                    x
                    <input type="checkbox" id="x" class="consonant" checked>
                </label>
                <label>
                    y
                    <input type="checkbox" id="y" class="consonant" checked>
                </label>
                <label>
                    z
                    <input type="checkbox" id="z" class="consonant" checked>
                </label>
            </fieldset>
            <button ng-click="generateWords()">
                Generate Words
            </button>
        </div>
        <table id="wordList">
            <caption>My Words</caption>
            <thead>
                <tr>
                    <th>Lemma</th>
                    <th>Definition</th>
                    <th>Category</th>
                    <th>Word Check</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="word in words">
                    <td>{{word.lemma}}</td>
                    <td>{{word.definition}}</td>
                    <td>{{word.category}}</td>
                    <td>
                        <button ng-click="checkWord($index)">
                            Check This Word
                        </button>
                    </td>
                    <td>
                        <button ng-click="deleteWord($index)">
                            Delete This Word
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <button ng-click="addWord()">
                            New Word
                        </button>
                    </td>
                    <td>
                        <button ng-click="saveList()">
                            Browser Save
                        </button>
                    </td>
                    <td>
                        <button ng-click="saveFile()">
                            Download Save
                        </button>
                    </td>
                    <td>
                        <button ng-click="uploadFile()">
                            Upload Saved File
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <table>
            <caption>Word Check Results</caption>
            <thead>
                <tr>
                    <th>Word/Lemma:</th>
                    <th>Link:</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in results">
                    <td>{{result.lemma}}</td>
                    <td>
                        <a href={{result.link}}>
                            {{result.link}}
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>

    <dialog id="addDialog">
        <p>Enter a word, a definition, and a category:</p>
        <label>
            Word/Lemma:
            <input autofocus ng-model="newWord.lemma" size="20">
        </label>
        <label>
            Definition:
            <input ng-model="newWord.definition" size="20">
        </label>
        <label>
            Category:
            <input ng-model="newWord.category" size="20">
        </label>
        <button ng-click="confirmAdd()">
            Add This Word
        </button>
        <button ng-click="cancelAdd()">
            Nevermind
        </button>
    </dialog>

    <dialog id="downloadDialog">
        <p>Copy and paste the following text into a .txt file:</p>
        <p>{{downloadText}}</p>
        <button ng-click="closeDownload()">
            Close
        </button>
    </dialog>

    <dialog id="uploadDialog">
        <p>Copy and paste the text from your .txt save file into this box:</p>
        <textarea id="uploadText" rows="10" cols="60" ng-model="uploadWords">Your saved words here...</textarea>
        <button ng-click="confirmUpload()">
            Upload
        </button>
        <button ng-click="cancelUpload()">
            Cancel
        </button>
    </dialog>
</html>